<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomSplashScreenTheme"
        tools:targetApi="31">
        <activity
            android:name=".features.menu.trip_history.TripDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.XeVivuApp"/>
        <activity
            android:name=".features.menu.personal_info.UpdatePersonalInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.XeVivuApp" />
        <activity
            android:name=".features.menu.support.RequestSupportActivity"
            android:exported="false"
            android:theme="@style/Theme.XeVivuApp" />
        <activity
            android:name=".features.menu.support.FAQActivity"
            android:exported="false"
            android:theme="@style/Theme.XeVivuApp" />
        <activity
            android:name=".features.menu.trip_history.TripHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.XeVivuApp" />
        <activity
            android:name=".features.menu.support.SupportActivity"
            android:exported="false"
            android:theme="@style/Theme.XeVivuApp" />
        <activity
            android:name=".features.menu.setting.SettingActivity"
            android:exported="false"
            android:theme="@style/Theme.XeVivuApp" />
        <activity
            android:name=".features.menu.points.PointActivity"
            android:exported="false"
            android:theme="@style/Theme.XeVivuApp" />
        <activity
            android:name=".features.menu.personal_info.PersonalInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.XeVivuApp" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAP_KEY}" />

        <activity
            android:name=".signup_login.forgot_password.NewPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.XeVivuApp" />
        <activity
            android:name=".signup_login.forgot_password.VerifyPhoneNumFPActivity"
            android:exported="false"
            android:theme="@style/Theme.XeVivuApp" />
        <activity
            android:name=".signup_login.forgot_password.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.XeVivuApp" />
        <activity
            android:name=".signup_login.permissions.PermissionActivity"
            android:exported="false"
            android:theme="@style/Theme.XeVivuApp" />
        <activity
            android:name=".features.booking.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.XeVivuApp" />
        <activity
            android:name=".signup_login.signup.VerifyPhoneNumActivity"
            android:exported="false"
            android:theme="@style/Theme.XeVivuApp" />
        <activity
            android:name=".signup_login.signup.SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.XeVivuApp" />
        <activity
            android:name=".signup_login.login.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.XeVivuApp" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CustomSplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>